<main class="col" id="utama">
    <nav class="navbar navbar-expand-l" class="background-color: white;">
        <div class="container-fluid">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="navbar-brand"><span class="material-symbols-outlined">menu </span>
            </a>
            <div class="d-flex align-items-center">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <div class="userProfile d-flex align-items-center ms-2" >
                    <img src="/profile.png">
                    <p class=" px-2">Unis Badri</p>
                    <span class="material-symbols-outlined px-2 pt-1">
                        expand_more
                    </span>

                </div>
            </div>
        </div>
      </nav>